{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block content %}
<section class="sub-header">
	<nav>
		<a href="{% url 'pages:home' %}"><img src="{% static 'img/nature.svg' %}"></a>
		<div class="nav-links" id="navLinks">
			<i class="fa fa-times" onclick="hideMenu()"></i>
			<ul>
				<li><a href="{% url 'pages:home' %}">HOME</a></li>
				<li><a href="{% url 'pages:about' %}">ABOUT</a></li>
				<li><a href="{% url 'pages:source' %}">SOURCE</a></li>
				<li><a href="{% url 'pages:blog' %}">BLOG</a></li>
				<li><a href="{% url 'pages:contact' %}">CONTACT</a></li>
			</ul>
		</div>
		<i class="fa fa-bars" onclick="showMenu()"></i>
	</nav>
	<h1>Our Program For Our Future</h1>
</section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- section -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2433804727494588"
     data-ad-slot="8244274498"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- ----- Blog Page ----- -->
<section class="blog-content">
	<div class="row">
		<div class="blog-left">
			<img src="{% static 'img/success.jpg' %}">
			<h2>Our Way To Success</h2>
			<p>Если раньше учёным приходилось доказывать, что климатический кризис реален, то сейчас жители Планеты собственными глазами замечают изменение климата: более частые и разрушительные ураганы, ледяные дожди, жару, засуху, наводнения. Более того, за последнее десятилетие количество опасных природных явлений, которые наносят ощутимый ущерб для здоровья людей и экономики, по данным Гидрометцентра, увеличилось более чем в три раза.</p><br>
			<p>Научные исследования показали, что современное потепление происходит из-за повышения концентрации парниковых газов в атмосфере Земли. Его не объяснить естественными циклами, оно связано в первую очередь с человеческой деятельностью: сжиганием ископаемого топлива — нефти, угля и газа — на электростанциях и в двигателях внутреннего сгорания, сокращением площади лесов, том числе из-за пожаров, разложением органических отходов на свалках, сельским хозяйством, особенно животноводством.</p><br>
			<p>Истощение уже освоенных лесов вынуждает лесозаготовителей идти за древесиной в далекие районы дикой тайги или всеми правдами и неправдами рубить самые ценные леса в густонаселенных районах.</p><br>
			<p>Лес для хозяйственных целей при правильном подходе можно вырастить за несколько десятилетий. А вот экосистемы диких лесов в результате промышленных рубок уничтожаются необратимо — даже для частичного их восстановления потребуются столетия, а полное восстановление вовсе невозможно.</p><br>
			<p>Из-за вырубок в диком ценном лесу гибнут редкие виды животных. Чтобы спасти от вымирания популяцию северного оленя, необходимо сохранить нетронутыми несколько миллионов гектаров леса. Неправильные рубки подрывают даже рыбные запасы. При вырубке леса в реки смываются глина и мертвая органика, оседающая муть может уничтожать икру некоторых наиболее ценных и редких рыб. Например, икра сёмги обязательно должна омываться чистой и богатой кислородом водой, иначе гибнет. Нельзя вырубать ценный лес кусочками: в результате нарушения целостности системы в лес может внедриться короед и уничтожить всю оставшуюся территорию.</p><br>
			<p>Пожары — это глобальная проблема, ведь они имеют огромное влияние на климат планеты. Сажа от пожаров долетает до Арктики и оседает на льдах, усиливая их таяние, а во время горения в атмосферу выбрасывается углекислый газ — один из газов, ответственных за парниковый эффект и изменение климата.</p><br>
			<p>Иногда пожар из поля или леса переходит на жилые дома и другие постройки, едкий дым заполняет города и вредит здоровью людей (особенно страдают дети, аллергики и астматики, пожилые люди).</p>


			<div class="comment-box">
				<h3>Leave a Comment</h3>
				<form class="comment-form">
					<input type="text" placeholder="Enter Name">
					<input type="email" placeholder="Enter Email">
					<textarea rows="5" placeholder="Enter Comment"></textarea>
					<button class="hero-btn red-btn">Post</button>
					<p>Сейчас это не работает поэтому можете написать на почту: admiralgeneral2003@gmail.com</p>
				</form>
			</div>

		</div>
		<div class="blog-right">
			<h3>Post Categories</h3>
			<div>
				<span>Ecologist</span>
				<span>#1</span>
			</div>
			<div>
				<span>Zoologist</span>
				<span>#2</span>
			</div>
			<div>
				<span>Volunteer</span>
				<span>#3</span>
			</div>
			<div>
				<span>Philanthropist</span>
				<span>#4</span>
			</div>
		</div>
	</div>
</section>
{% endblock %}
